<div class="row">
  <div class="col-7">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <h5>
          <label>1 - Type(s) <span class="required">*</span></label>
        </h5>
        <div class="types-form-checkboxes">
          <label
            *ngFor="let type of types; let i = index"
            class="checkbox-inline"
          >
            <input type="checkbox" [formControl]="type" />
            {{ typeMeals[i] }}
          </label>
        </div>
        <small *ngIf="submitted && f.types.errors" class="text-danger">
          Veuillez préciser le type du plat
        </small>
      </div>
      <div class="form-group">
        <h5>
          <label>2 - Nom et composition <span class="required">*</span></label>
        </h5>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            formControlName="name"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            placeholder="Renseignez le nom du plat avant de composer les ingrédients..."
          />
          <div class="input-group-prepend">
            <button
              type="button"
              class="btn btn-info"
              [disabled]="form.disabled"
              (click)="onGetDetails()"
            >
              Composition &nbsp;
              <fa-icon [icon]="infosLogo"></fa-icon>
            </button>
          </div>
        </div>
        <typeahead
          [list]="searchList"
          [field]="'name'"
          (select)="selectMeal($event)"
        >
        </typeahead>
        <small *ngIf="submitted && f.name.errors" class="text-danger">
          Veuillez renseigner le nom du plat et sa composition
        </small>
        <small class="form-text text-muted"
          >Les ingrédients sont récupérées depuis la table de composition
          nutrionnelle des aliments
          <a href="https://ciqual.anses.fr" target="_blank">Ciqual.fr</a>
        </small>
        <br />
        <div class="form-check">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="checkbox"
              formControlName="mixed"
            />
            Possibilité d'être mixé
          </label>
          <small class="form-text text-muted">
            Servant à l'élaboration des menus mixés pour la cuisine
          </small>
        </div>
        <br />
        <button type="submit" [disabled]="form.disabled" class="btn btn-info">
          Valider la saisie
        </button>
        &nbsp;
        <button
          *ngIf="submitted && form.disabled"
          type="button"
          class="btn btn-secondary"
          (click)="onEdit()"
        >
          Modifier
        </button>
      </div>
      <small *ngIf="submitted && form.invalid" class="text-danger">
        Tous les champs doivent être correctement renseignés pour valider
      </small>
      <span *ngIf="submitted && form.disabled" class="text-success">
        <fa-icon [icon]="successLogo"></fa-icon> Ok
      </span>
    </form>
  </div>
  <div *ngIf="loading"><app-loader></app-loader></div>
  <div *ngIf="submittedSearch && !loading" class="col-5">
    <app-infos-meal
      [content]="selectedContent"
      [form]="form"
      [submitted]="submitted"
    ></app-infos-meal>
  </div>
</div>
<br />
