<div class="container-fluid">
  <div class="row">
    <div class="col">
      <table class="infos-patient">
        <tbody>
          <tr>
            <th>Nom</th>
            <td>Toto</td>
          </tr>
          <tr>
            <th>Prénom</th>
            <td>Jacob</td>
          </tr>
          <tr>
            <th>Sexe</th>
            <td>Masculin</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="infos-patient">
        <tbody>
          <tr>
            <th>Âge</th>
            <td>46 ans</td>
          </tr>
          <tr>
            <th>Date de naissance</th>
            <td>23/05/1974</td>
          </tr>
          <tr>
            <th>Groupe sanguin</th>
            <td>O+</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <h5>Alimentation(s)</h5>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Normale</td>
          </tr>
          <tr>
            <td>Sans sel</td>
          </tr>
          <tr>
            <td>Diabétique</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <h5>Allergie(s)</h5>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Arachide</td>
          </tr>
          <tr>
            <td>Fruits à coque</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h5>Texture</h5>
  <table class="infos-patient">
    <tbody>
      <tr>
        <td>Mixé</td>
      </tr>
    </tbody>
  </table>
  <br />
  <div class="row">
    <div class="col-md-5 offset-md-7 text-right">
      <button type="button" class="btn btn-primary">
        <fa-icon [icon]="moreDetailsLogo"></fa-icon> Plus de detail
      </button>
    </div>
  </div>
</div>
