<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Modification du mot de passe</h2>
      <br />
      <div *ngIf="form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon [icon]="userLogo"></fa-icon>
                </div>
              </div>
              <input
                type="text"
                class="form-control"
                formControlName="username"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                readonly
              />
              <div
                *ngIf="submitted && f.username.errors"
                class="invalid-feedback"
              >
                Le login est requis (Ex. DUPONT Marc = dupont_m)
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon [icon]="passwordLogo"></fa-icon>
                </div>
              </div>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                placeholder="Entrez votre nouveau mot de passe"
              />
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
              >
                Un mot de passe valide est requis
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon [icon]="passwordLogo"></fa-icon>
                </div>
              </div>
              <input
                type="password"
                class="form-control"
                formControlName="confirm"
                [ngClass]="{ 'is-invalid': submitted && f.confirm.errors }"
                placeholder="Confirmez votre nouveau mot de passe"
              />
              <div
                *ngIf="submitted && f.confirm.errors"
                class="invalid-feedback"
              >
                Les mots de passes doivent correspondre
              </div>
            </div>
          </div>
          <br />
          <div class="form-row">
            <button type="submit" class="btn btn-primary">
              Modifier mon mot de passe
            </button>
          </div>
        </form>
      </div>
      <br />
      <div class="alert alert-primary" role="alert">
        Le mot de passe doit être compris <code>entre 8 et 15 caractère</code>,
        doit comporter <code>au moins une majuscule</code>,
        <code>une minuscule</code>, <code>un chiffre</code> et un
        <code>caractère spécial</code>.
      </div>
      <br />
      <div *ngIf="loading"><app-loader></app-loader></div>
      <div *ngIf="error">
        <app-alert-error [content]="error"></app-alert-error>
      </div>
    </div>
  </div>
</div>
