.custom-typeahead {
  position: absolute;
  z-index: 5;
  margin: 0.5rem 0 0;
  padding: 0.5rem 0;
  border: 1px solid #cccccc;
  border-radius: 4px;
  //width: 260px;
  background-color: #ffffff;

  option {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    &:hover {
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
    }
  }
}
