<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <nav class="nav flex-column">
        <a class="nav-link"><fa-icon [icon]="editLogo"></fa-icon> Modifier</a>
        <a class="nav-link"
          ><fa-icon [icon]="deleteLogo"></fa-icon> Supprimer</a
        >
        <a class="nav-link" routerLink="history"
          ><fa-icon [icon]="historyLogo"></fa-icon> Historique du patient</a
        >
        <a class="nav-link" (click)="goBack()"
          ><fa-icon [icon]="goBackLogo"></fa-icon> Retour</a
        >
      </nav>
    </div>
    <div class="col-sm-5">
      <h4>Fiche détail du patient n°{{ patient?.id }}</h4>
      <br />
      <app-infos-patient [patient]="patient"></app-infos-patient>
    </div>
    <div class="col-sm-5">
      <h4>Informations complémentaires</h4>
      <br />
      <app-food-patient [patient]="patient"></app-food-patient>
    </div>
  </div>
</div>
