.meals-of-the-day {
  ul {
    max-width: 200px;
    li {
      font-size: 75%;
      padding: 0.25rem 0.75rem;
    }
  }
  &:hover {
    background-color: #e1f0ff;
    cursor: pointer;
    ul {
      li {
        background-color: transparent;
      }
    }
  }
}
