<ul class="nav sidebar nav-pills flex-column">
  <li class="nav-item">
    <a
      class="nav-link"
      id="menu-actual-all-tab"
      data-toggle="tab"
      routerLink="/food/menu/actual/all"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      role="tab"
      aria-controls="menu-actual-all-tab"
      aria-selected="false"
      ><fa-icon [icon]="menuPeriodLogo"></fa-icon> Menus en cours</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="meal-add-tab"
      data-toggle="tab"
      routerLink="/food/meal/add"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      role="tab"
      aria-controls="meal-add-tab"
      aria-selected="false"
      ><fa-icon [icon]="mealAddLogo"></fa-icon> Nouvelle livraison</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="menu-add-tab"
      data-toggle="tab"
      routerLink="/food/menu/add"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      role="tab"
      aria-controls="menu-add-tab"
      aria-selected="false"
      ><fa-icon [icon]="menuAddLogo"></fa-icon> Composer un menu</a
    >
  </li>
  <!-- nouveau menu | gérer diet/texture-->
</ul>
