<nav class="nav flex-column">
  <a class="nav-link" routerLink="/patient/add"
    ><fa-icon [icon]="addLogo"></fa-icon> Nouveau patient</a
  >
  <a class="nav-link" routerLink="/patient/import"
    ><fa-icon [icon]="importLogo"></fa-icon> Importer des patients</a
  >
  <a class="nav-link" routerLink="/patient"
    ><fa-icon [icon]="oldLogo"></fa-icon> Anciens patients</a
  >
  <a class="nav-link" routerLink="/patient"
    ><fa-icon [icon]="allLogo"></fa-icon> Tous les patients</a
  >
</nav>

<!--
  TODO :
  <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
-->
