<div *ngIf="loading" class="col"><app-loader></app-loader></div>
<div *ngIf="warning" class="col">
  <app-alert-warning [content]="warning" [close]="false"></app-alert-warning>
</div>
<div *ngIf="!loading && !warning">
  <button
    type="button"
    data-toggle="modal"
    data-target="#roomSelector"
    class="btn btn-outline-info"
  >
    Choisir une chambre disponible...
  </button>
  &nbsp;
  <span *ngIf="!input" class="text-muted">
    Aucune chambre selectionnée
  </span>
  <span *ngIf="input" class="text-success">
    <fa-icon [icon]="roomLogo"></fa-icon> Chambre {{ input.number }}
  </span>
</div>

<div
  class="modal fade"
  id="roomSelector"
  tabindex="-1"
  role="dialog"
  aria-labelledby="roomSelectorLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="roomSelectorLabel">
          Selectionnez une chambre
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-list-rooms-available
          [floors]="floors"
          (selectedRoom)="selectRoom($event)"
        ></app-list-rooms-available>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-dismiss="modal"
        >
          Annuler
        </button>
        <button
          type="button"
          [disabled]="!room"
          class="btn btn-primary"
          (click)="confirm()"
          data-dismiss="modal"
        >
          Valider
        </button>
      </div>
    </div>
  </div>
</div>
