<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h5>Alimentation(s)</h5>
      <table class="table table-bordered">
        <tbody>
          <tr *ngFor="let diet of patient?.diets">
            <td>{{ diet.name }}</td>
          </tr>
        </tbody>
      </table>
      <h5>Texture</h5>
      <table class="table table-bordered">
        <tbody>
          <tr *ngIf="patient?.texture">
            <td>{{ patient.texture.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <h5>Allergie(s)</h5>
      <table class="table table-bordered">
        <tbody>
          <tr *ngFor="let allergy of patient?.allergies">
            <td>{{ allergy.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <h5>Commentaire</h5>
  <div *ngIf="patient?.comment" class="comment">
    <div class="comment-body">
      <p>
        {{ patient.comment.content }}
      </p>
    </div>
  </div>
  <div *ngIf="patient?.comment" class="comment-footer">
    Mis à jour le 22/03/2020 par <strong>{{ patient.comment.pseudo }}</strong>
  </div>
</div>
