<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h5>Alimentation(s)</h5>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Normale</td>
          </tr>
          <tr>
            <td>Sans sel</td>
          </tr>
          <tr>
            <td>Diabétique</td>
          </tr>
        </tbody>
      </table>
      <h5>Texture</h5>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Mixé</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <h5>Allergie(s)</h5>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Arachide</td>
          </tr>
          <tr>
            <td>Fruits à coque</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <h5>Commentaire</h5>
  <div class="comment">
    <div class="comment-body">
      <p>
        A tendance à changer son menu la veille.
      </p>
    </div>
  </div>
  <div class="comment-footer">
    Mis à jour le 22/03/2020 par <strong>lukombo_c</strong>
  </div>
</div>
