<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-food-navbar></app-food-navbar>
    </div>
    <div class="col">
      <h2>Nouveau régime</h2>
      <br />
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <h5>
            <label>Nom <span class="required">*</span></label>
          </h5>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            placeholder="Exemple : Sans sel, Diabétique etc.."
          />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            Le nom du régime est requis
          </div>
        </div>
        <br />
        <div class="form-group">
          <h5>
            <label>Ingrédient(s) à surveiller - non obligatoire</label>
          </h5>
          <div class="alert alert-primary" role="alert">
            Notez le ou les ingrédient(s) devants être présent en faible
            quantités dans un plat pour ce régime (moins de 10g). Ex.
            <code>Sucres</code> pour <code>Diabétique</code>. Cela servira
            d'indicateur pour la déclinaison automatique de menus.
          </div>
          <div class="types-form-checkboxes">
            <label
              *ngFor="let element of elementsToCheck; let i = index"
              class="checkbox-inline"
            >
              <input type="checkbox" [formControl]="element" />
              {{ caracteristics[i] }}
            </label>
          </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">
          Ajouter le régime à la clinique
        </button>
      </form>
    </div>
  </div>
</div>
