<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-patient-navbar></app-patient-navbar>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <h4>Historique</h4>
          <br />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Informations</h5>
          <app-activity-patient [histories]="histories"></app-activity-patient>
          <br />
          <button
            *ngIf="totalElements && size < totalElements"
            type="button"
            class="btn btn-sm"
            (click)="loadMoreHistories()"
          >
            <fa-icon [icon]="moreLogo"></fa-icon> plus d'activités...
          </button>
        </div>
        <div class="col">
          <h5>Plats et menus</h5>
        </div>
      </div>
    </div>
  </div>
</div>
