<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-patient-navbar></app-patient-navbar>
    </div>
    <div class="col">
      <div class="row">
        <div *ngIf="loading" class="col"><app-loader></app-loader></div>
        <div *ngIf="error" class="col">
          <app-alert-error [content]="error"></app-alert-error>
        </div>
        <div *ngIf="!patient && !error && warning" class="col">
          <app-alert-warning [content]="warning"></app-alert-warning>
        </div>
        <div *ngIf="patient && !error && !warning" class="col">
          <h4>Édition du patient n°{{ patient?.id }}</h4>
          <br />
          <app-form-patient-edit
            [patient]="patient"
            [dietsAvailable]="dietsAvailable"
            [texturesAvailable]="texturesAvailable"
          ></app-form-patient-edit>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
