<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-food-navbar></app-food-navbar>
    </div>
    <div class="col">
      <h2>Détail du plat</h2>
      <br />
      <div *ngIf="loading"><app-loader></app-loader></div>
      <div *ngIf="warning">
        <app-alert-warning [content]="warning"></app-alert-warning>
      </div>
      <div *ngIf="error">
        <app-alert-error [content]="error"></app-alert-error>
      </div>
      <div *ngIf="content && !error && !warning"></div>
    </div>
  </div>
</div>
