<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-clinic-navbar></app-clinic-navbar>
    </div>
    <div class="col">
      <h2>Chambres de la clinique</h2>
      <br />
      <div *ngIf="loading"><app-loader></app-loader></div>
      <div *ngIf="error">
        <app-alert-error [content]="error"></app-alert-error>
      </div>
      <div *ngIf="!loading && !error && selectedFloor">
        <div class="row">
          <div class="col-6">
            <div class="map">
              <div
                *ngFor="let floor of floors"
                class="floor"
                (click)="selectFloor(floor)"
              >
                <span class="label">{{ floor?.number }}</span>
                <div
                  class="plan"
                  [ngStyle]="{
                    'background-color': getColor(floor.number)
                  }"
                  [class.active]="floor.number === selectedFloor.number"
                ></div>
              </div>
            </div>
          </div>
          <div *ngIf="selectedFloor" class="col-6">
            <h4>{{ selectedFloor?.number | floorName }}</h4>
            <hr />
            <app-infos-floor [floor]="selectedFloor"></app-infos-floor>
          </div>
        </div>
        <br /><br />
        <div class="row">
          <div class="col">
            <app-detail-floor [floor]="selectedFloor"></app-detail-floor>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
