<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/food.svg" width="50" height="50" />
    <span class="navbar-brand mb-0 h1">&nbsp;Daily follow-up</span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngIf="connected()" class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/food/menu/currents"
          ><fa-icon [icon]="foodLogo"></fa-icon> Alimentation</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/order/all"
          ><fa-icon [icon]="orderLogo"></fa-icon> Commandes</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/patient/all"
          ><fa-icon [icon]="patientLogo"></fa-icon> Patients</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/clinic/floor/all"
          ><fa-icon [icon]="clinicLogo"></fa-icon> Clinique</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/user/all"
          ><fa-icon [icon]="userLogo"></fa-icon> Employés</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/statistics/patients"
          ><fa-icon [icon]="statsLogo"></fa-icon> Statistiques</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle disabled"
          href="#"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <fa-icon [icon]="historyLogo"></fa-icon> Historique
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Historique des patients</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Historique des menus</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button
          *ngIf="!connected()"
          class="btn btn-light my-2 my-sm-0"
          type="submit"
          routerLink="/login"
        >
          <fa-icon [icon]="logInLogo"></fa-icon> Authentification
        </button>
        <app-menu></app-menu>
      </li>
    </ul>
  </div>
</nav>
