<div *ngIf="connected()" class="menu">
  <span class="user" (click)="openDetails()">
    {{ getPseudo() | initialsOnly }}
  </span>
  <div *ngIf="opened" class="menu-popover">
    <div class="menu-details">
      <h5>
        {{ getPseudo() }}
      </h5>
      <div class="divider"></div>
      <button
        class="btn btn-danger my-2 my-sm-1"
        type="submit"
        (click)="onLogout()"
      >
        <fa-icon [icon]="logoutLogo"></fa-icon> Déconnexion
      </button>
    </div>
  </div>
</div>
