<div class="menu">
  <span class="user" (click)="openDetails()">
    NK
  </span>
  <div *ngIf="opened" class="menu-popover">
    <div class="menu-details">
      <h6><strong>Neal KEMISSI</strong></h6>
      <a class="menu-item" href="#">Modifier mes informations</a>
      <div class="divider"></div>
      <a class="menu-item" href="#">Ajouter un(e) aide-soignant(e)</a>
      <a class="menu-item" href="#">Ajouter un(e) diététicien(ne)</a>
      <div class="divider"></div>
      <button class="btn btn-danger my-2 my-sm-1" type="submit">
        Déconnexion
      </button>
    </div>
  </div>
</div>
