<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-patient-navbar></app-patient-navbar>
    </div>
    <div class="col">
      <div class="row">
        <div *ngIf="loading" class="col"><app-loader></app-loader></div>
        <div *ngIf="error" class="col">
          <app-alert-error [content]="error"></app-alert-error>
        </div>
        <div *ngIf="!patient && !error && warning" class="col">
          <app-alert-warning [content]="warning"></app-alert-warning>
        </div>
        <div *ngIf="patient" class="col">
          <h2>
            <span *ngIf="!patient?.state">
              <fa-icon [icon]="lockLogo"></fa-icon>
            </span>
            Fiche détail du patient n°{{ patient?.id }}
            <button
              type="button"
              class="btn btn-light btn-sm"
              routerLink="/patient/details/history"
              [queryParams]="{ patient: patient?.id }"
            >
              <fa-icon [icon]="historyLogo"></fa-icon> Historique
            </button>
          </h2>
          <br />
          <app-infos-patient
            [patient]="patient"
            [isCaregiver]="isCaregiver"
          ></app-infos-patient>
        </div>
      </div>
      <br />
      <div class="row">
        <div *ngIf="patient" class="col">
          <app-food-patient
            [patient]="patient"
            [isCaregiver]="isCaregiver"
          ></app-food-patient>
        </div>
      </div>
      <br />
      <div class="row" *ngIf="patient && !patient?.state">
        <div class="col text-center">
          <div class="alert alert-warning">
            Ce patient a été supprimé. Il ne fait plus partie de la clinique, et
            ses informations ne peuvent plus être modifiées. Elles restent
            néanmoins accessibles, afin de les réutiliser en cas de retour du
            patient à la clinique.
          </div>
          <div *ngIf="!isCaregiver">
            <button
              *ngIf="!restoring"
              type="button"
              class="btn btn-info"
              (click)="restorePatient()"
            >
              <fa-icon [icon]="restoreLogo"></fa-icon> Recréer le patient
            </button>
            <button
              *ngIf="restoring"
              type="button"
              class="btn btn-info"
              disabled
            >
              <span class="spinner-border spinner-border-sm"></span
              >Recréation...
            </button>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="patient && patient?.state && !isCaregiver">
        <div class="col text-left">
          <button
            type="button"
            class="btn btn-primary"
            routerLink="/patient/details/edit"
            [queryParams]="{ id: patient?.id }"
          >
            Modifier les informations
          </button>
          &nbsp;
          <button
            type="button"
            class="btn btn-info"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Préparer une commande
          </button>
          <div class="dropdown-menu p-4">
            <div class="form-group">
              <label>Date de livraison <span class="required">*</span></label>
              <input
                type="date"
                [(ngModel)]="orderDeliveryDate"
                class="form-control"
              />
              <small class="text-muted">
                La date ne doit pas être actuelle ou dans le passée
              </small>
            </div>
            <div class="form-group">
              <label>Moment <span class="required">*</span></label>
              <span *ngFor="let moment of moments">
                <br />
                <input
                  type="radio"
                  [value]="moment"
                  [id]="moment"
                  name="moment"
                  [(ngModel)]="orderDeliveryMoment"
                />
                {{ moment }}
              </span>
            </div>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onOrder()"
              [disabled]="!orderDeliveryMoment || !orderDeliveryDate"
            >
              Commander
            </button>
          </div>
        </div>
        <div class="col text-right">
          <div *ngIf="!deleting">
            <app-modal-danger
              [btnTitle]="btnDelete"
              [text]="confirmDelete"
              (confirmation)="deletePatient()"
            ></app-modal-danger>
          </div>
          <div *ngIf="deleting">
            <button class="btn btn-danger" type="button" disabled>
              <span class="spinner-border spinner-border-sm"></span
              >Suppression...
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
