<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-order-navbar></app-order-navbar>
    </div>
    <div class="col">
      <h2>Commandes de la semaine</h2>
      <br />
      <div class="row">
        <div class="col">
          <table class="table table-bordered week">
            <tbody class="week-style">
              <tr>
                <td
                  *ngFor="let d of daysOfTheWeek | keyvalue: notOrdered"
                  class="text-center"
                  (click)="selectDay(d.value)"
                  [class.active]="d.value == selectedDay"
                >
                  <strong>{{ d.key }}</strong>
                  <br />
                  <span class="date-style">
                    {{ d.value }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="btn-group">
            <button
              *ngFor="let moment of moments"
              type="button"
              class="btn btn-lg btn-primary"
              (click)="selectMoment(moment)"
              [class.active]="moment == selectedMoment"
            >
              {{ moment }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
