.tab-content {
  display: block;
  border: 1px solid #cccccc;
  border-top: transparent;
}

.ng-chart {
  padding-bottom: 10px;
}

.edit-chart {
  thead {
    th {
      border-top: transparent;
    }
  }
  margin-bottom: 0px;
}
