<input
  class="form-control mr-sm-2"
  type="text"
  placeholder="Nom du patient..."
/>
<br />
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Âge</th>
      <th scope="col">Sexe</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients">
      <th scope="row">{{ patient.lastName }}</th>
      <td>{{ patient.firstName }}</td>
      <td>{{ patient.dateOfBirth | age }}</td>
      <td *ngIf="patient.sex == 'Homme'" [ngStyle]="{ color: '#0652DD' }">
        <fa-icon [icon]="marsLogo"></fa-icon>
      </td>
      <td *ngIf="patient.sex == 'Femme'" [ngStyle]="{ color: '#FC427B' }">
        <fa-icon [icon]="venusLogo"></fa-icon>
      </td>
    </tr>
  </tbody>
</table>
