<input
  class="form-control mr-sm-2"
  type="text"
  placeholder="Nom du patient..."
/>
<br />
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Âge</th>
      <th scope="col">Sexe</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Toto</th>
      <td>Mark</td>
      <td>52</td>
      <td style="color:#0652DD;"><fa-icon [icon]="marsLogo"></fa-icon></td>
    </tr>
    <tr>
      <th scope="row">Toto</th>
      <td>Jacob</td>
      <td>46</td>
      <td style="color:#0652DD;"><fa-icon [icon]="marsLogo"></fa-icon></td>
    </tr>
    <tr>
      <th scope="row">Toto</th>
      <td>Tata</td>
      <td>65</td>
      <td style="color:#FC427B;"><fa-icon [icon]="venusLogo"></fa-icon></td>
    </tr>
  </tbody>
</table>
