<div class="meals-of-the-day">
  <ul
    *ngFor="let content of to; let index = index"
    class="list-group list-group-flush"
  >
    <li *ngIf="content" class="list-group-item" title="{{ content?.name }}">
      <span *ngIf="from[index] && from[index].name === content.name">
        {{ content?.name | truncate: 30 }}
      </span>
      <span
        *ngIf="!from[index] || from[index].name !== content.name"
        class="diff-plus"
      >
        {{ content?.name | truncate: 30 }}
      </span>
    </li>
    <li *ngIf="!content" class="list-group-item" title="{{ content?.name }}">
      <span class="diff-minus">
        {{ from[index]?.name | truncate: 30 }}
      </span>
    </li>
  </ul>
</div>
