<div class="history">
  <div class="activity-at-date">
    <div>
      <h5><fa-icon [icon]="circleLogo"></fa-icon> Activité le 14/03/2020</h5>
      <div class="activity">
        <div class="activity-title">
          <fa-icon [icon]="circleLogo"></fa-icon> Modification du patient
        </div>
        <span><strong>deliessche_a</strong></span>
      </div>
    </div>
    <div>
      <h5><fa-icon [icon]="circleLogo"></fa-icon> Activité le 10/03/2020</h5>
      <div class="activity">
        <div class="activity-title">
          <fa-icon [icon]="circleLogo"></fa-icon> Modification du menu
        </div>
        <span><strong>lukombo_c</strong></span>
      </div>
      <div class="activity">
        <div class="activity-title">
          <fa-icon [icon]="circleLogo"></fa-icon> Création du patient
        </div>
        <span><strong>kemissi_n</strong></span>
      </div>
    </div>
  </div>
</div>
<br />
<button type="button" class="btn btn-sm">
  <fa-icon [icon]="moreLogo"></fa-icon> plus d'activités...
</button>
