<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Authentification</h3>
      <br />
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label>Utilisateur</label>
          <input
            type="text"
            class="form-control"
            formControlName="username"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            placeholder="Entrez votre login"
          />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">
              le login est requis (Ex. DUPONT Marc = dupont_m)
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Mot de passe</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            placeholder="Entrez votre mot de passe"
          />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">
              Le mot de passe est requis
            </div>
          </div>
        </div>
        <br />
        <div class="form-row">
          <div class="form-group col-md-3">
            <button type="submit" class="btn btn-primary btn-block">
              Se connecter
            </button>
          </div>
          <div class="form-group col-md-9 text-right">
            <a href="#">Je crée mon compte</a>
          </div>
        </div>
      </form>
      <div *ngIf="loading"><app-loader></app-loader></div>
      <div *ngIf="error">
        <app-alert-error [content]="error"></app-alert-error>
      </div>
    </div>
  </div>
</div>
