.comment-patient {
  .comment {
    flex-direction: column;
    word-wrap: break-word;
    background-color: #e9ecef;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    .comment-body {
      padding: 1.25rem;
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .comment-footer {
    color: #222f3e;
    font-size: 0.8em;
    text-align: right;
    padding: 0.75rem 1.25rem;
    //background-color: rgba(0, 0, 0, 0.03);
    //border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
}
