<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-food-navbar></app-food-navbar>
    </div>
    <div class="col">
      <h2>Modifier un régime</h2>
      <br />
      <div *ngIf="loading"><app-loader></app-loader></div>
      <div *ngIf="warning">
        <app-alert-warning [content]="warning"></app-alert-warning>
      </div>
      <div *ngIf="error">
        <app-alert-error [content]="error"></app-alert-error>
      </div>
      <div *ngIf="diet && form && !error && !warning">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <h5>
              <label>Nom <span class="required">*</span></label>
            </h5>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
              placeholder="Exemple : Sans sel, Diabétique etc.."
            />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              Le nom du régime est requis
            </div>
          </div>
          <br />
          <div class="form-group">
            <h5>
              <label>Caractéristique(s) du régime (non obligatoire)</label>
            </h5>
            <br />
            <h6>
              <label
                >Élément(s) présents en
                <span class="text-success">grande quantité</span> :</label
              >
            </h6>
            <div class="types-form-checkboxes">
              <label
                *ngFor="let high of highElements; let i = index"
                class="checkbox-inline"
              >
                <input type="checkbox" [formControl]="high" />
                {{ caracteristics[i] }}
              </label>
            </div>
            <br />
            <h6>
              <label
                >Élément(s) présents en
                <span class="text-danger">faible quantité</span> :</label
              >
            </h6>
            <div class="types-form-checkboxes">
              <label
                *ngFor="let low of lowElements; let i = index"
                class="checkbox-inline"
              >
                <input type="checkbox" [formControl]="low" />
                {{ caracteristics[i] }}
              </label>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col text-left">
              <button *ngIf="!updating" type="submit" class="btn btn-primary">
                Enregistrer les informations
              </button>
              <button
                *ngIf="updating"
                type="submit"
                class="btn btn-primary"
                disabled
              >
                <span class="spinner-border spinner-border-sm"></span>Mise à
                jour...
              </button>
            </div>
            <div class="col text-right">
              <div *ngIf="!deleting" class="text-right">
                <app-modal-danger
                  [btnTitle]="btnDelete"
                  [text]="confirmDelete"
                  (confirmation)="onDelete()"
                ></app-modal-danger>
              </div>
              <div *ngIf="deleting" class="text-right">
                <button class="btn btn-danger" type="button" disabled>
                  <span class="spinner-border spinner-border-sm"></span
                  >Suppression...
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
