<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-food-navbar></app-food-navbar>
    </div>
    <div class="col">
      <h2>Nouveaux plats</h2>
      <div *ngFor="let id of idsForms; let last = last" class="divider">
        <br />
        <app-form-meal-add
          [idForm]="id"
          (formToSubmit)="submitForm($event)"
        ></app-form-meal-add>
        <button
          *ngIf="idsForms.length > 1"
          type="button"
          class="btn btn-sm btn-light"
          (click)="deleteForm(id)"
        >
          <fa-icon [icon]="revertLogo"></fa-icon> Retirer
        </button>
        <button
          *ngIf="last"
          type="button"
          class="btn btn-sm btn-light"
          (click)="createForm(id)"
        >
          <fa-icon [icon]="moreLogo"></fa-icon> Plat supplémentaire...
        </button>
      </div>
      <br />
      <div class="row">
        <div class="col text-right">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="forms?.length == 0"
            (click)="onCreate()"
          >
            Confirmer la création
          </button>
          <br />
          <small class="text-primary"
            >Nombre de plat à créer : <strong>{{ forms.length }}</strong></small
          >
        </div>
      </div>
    </div>
  </div>
</div>
