<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-food-navbar></app-food-navbar>
    </div>
    <div class="col">
      <h2>Nouveaux plats</h2>
      <div *ngFor="let m of nbForms" class="divider">
        <br />
        <div class="row">
          <div class="col-8">
            <app-form-meal-add></app-form-meal-add>
            <button
              *ngIf="nbForms.length > 1"
              type="button"
              class="btn btn-sm btn-light"
              (click)="deleteForm(m)"
            >
              <fa-icon [icon]="revertLogo"></fa-icon> Retirer
            </button>
          </div>
          <div class="col-4">
            <app-infos-meal></app-infos-meal>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-sm btn-light" (click)="createForm()">
        <fa-icon [icon]="moreLogo"></fa-icon> Plat supplémentaire...
      </button>
      <br /><br />
      <button type="button" class="btn btn-primary" (click)="onCreate()">
        Confirmer
      </button>
    </div>
  </div>
</div>
