@import "~angular-notifier/styles.scss";
/** pour les tableaux de patients de n'importe quelles pages */
.infos-patient {
  th {
    padding-right: 1em;
  }
  //   td {
  //     white-space: nowrap;
  //     max-width: 100%;
  //     overflow: hidden;
  //     text-overflow: ellipsis;
  //   }
}

/** highlight pour les pipe de recherche */
.highlight {
  color: white;
  background-color: #00a8ff;
}

.required {
  font-weight: bold;
  color: #dc3545;
  font-size: 18px;
}
