@import "~@ng-select/ng-select/themes/default.theme.css";

/** style de contenu de tableaux custom */
.tbody-dfu {
  tr:hover {
    background-color: #e1f0ff;
    th,
    td {
      border-top: 1px solid #b8daff;
      border-bottom: 1px solid #b8daff;
    }
    cursor: pointer;
  }
  tr.active {
    background-color: #b8daff;
    border: 1px solid #c7cbcf;
    th,
    td {
      border-top: 1px solid #c7cbcf;
      border-bottom: 1px solid #c7cbcf;
    }
    cursor: default;
  }
}

/** pour les tableaux de patients de n'importe quelles pages */
.infos-patient {
  th {
    padding-right: 1em;
  }
  //   td {
  //     white-space: nowrap;
  //     max-width: 100%;
  //     overflow: hidden;
  //     text-overflow: ellipsis;
  //   }
}

/** highlight pour les pipe de recherche */
.highlight {
  color: white;
  background-color: #00a8ff;
}

.required {
  font-weight: bold;
  color: #dc3545;
  font-size: 18px;
}

/** titre de chaque page **/
h2 {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}
