<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-clinic-navbar></app-clinic-navbar>
    </div>
    <div class="col">
      <h2>Nouvel étage</h2>
      <br />
      <div *ngIf="loading"><app-loader></app-loader></div>
      <div *ngIf="error">
        <app-alert-error [content]="error"></app-alert-error>
      </div>
      <div *ngIf="!loading && !error">
        <div class="row">
          <div class="col">
            de
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
