<div class="container-fluid">
  <div class="row">
    <div class="col">
      <table class="infos-patient">
        <tbody>
          <tr>
            <th>Nom</th>
            <td>Toto</td>
          </tr>
          <tr>
            <th>Prénom</th>
            <td>Jacob</td>
          </tr>
          <tr>
            <th>Âge</th>
            <td>46 ans</td>
          </tr>
          <tr>
            <th>Date de naissance</th>
            <td>23/05/1974</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="infos-patient">
        <tbody>
          <tr>
            <th>Sexe</th>
            <td>Masculin</td>
          </tr>
          <tr>
            <th>Groupe sanguin</th>
            <td>O+</td>
          </tr>
          <tr>
            <th>Taille</th>
            <td>175 cm</td>
          </tr>
          <tr>
            <th>Poids</th>
            <td>70 kg</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />
  <table class="infos-patient">
    <tbody>
      <tr>
        <th>Situation familliale</th>
        <td>Marié(e)</td>
      </tr>
      <tr>
        <th>Situation pro</th>
        <td>En activité</td>
      </tr>
    </tbody>
  </table>
  <br />
  <table class="infos-patient">
    <tbody>
      <tr>
        <th>Mail</th>
        <td>Toto@gmail.com</td>
      </tr>
      <tr>
        <th>Télephone</th>
        <td>06 69 85 12 64</td>
      </tr>
      <tr>
        <th>Adresse</th>
        <td>242 rue du Faubourg Saint-Antoine</td>
      </tr>
      <tr>
        <th>Code postal</th>
        <td>75012</td>
      </tr>
      <tr>
        <th>Ville</th>
        <td>Paris</td>
      </tr>
    </tbody>
  </table>
  <br />
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th><fa-icon [icon]="roomLogo"></fa-icon> Chambre</th>
        <td>106</td>
      </tr>
      <tr>
        <th><fa-icon [icon]="userLogo"></fa-icon> Responsable</th>
        <td>deliessche_a</td>
      </tr>
    </tbody>
  </table>
</div>
