<div class="form-row">
  <div class="form-group col">
    <input
      class="form-control"
      type="text"
      [(ngModel)]="lastName"
      placeholder="Nom..."
    />
  </div>
  <div class="form-group col">
    <input
      class="form-control"
      type="text"
      [(ngModel)]="firstName"
      placeholder="Prénom..."
    />
  </div>
</div>
<table *ngIf="caregivers.length > 0" class="table">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th *ngIf="!isCaregiver" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let caregiver of caregivers
          | orderByInside: 'user':'lastName'
          | searchInside: 'user':'lastName':lastName
          | searchInside: 'user':'firstName':firstName
          | paginate: pagination
      "
      (click)="selectCaregiver(caregiver)"
    >
      <th
        scope="row"
        innerHTML="{{
          caregiver.user.lastName | uppercase | highlight: lastName
        }}"
      ></th>
      <td
        innerHTML="{{
          caregiver.user.firstName | titlecase | highlight: firstName
        }}"
      ></td>
      <td *ngIf="!isCaregiver">
        <button
          type="button"
          class="btn btn-light btn-sm"
          data-toggle="modal"
          data-target=".bd-example-modal-lg"
        >
          <fa-icon [icon]="detailLogo"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls
  (pageChange)="pageChanged($event)"
  (pageBoundsCorrection)="pageChanged($event)"
  maxSize="6"
  responsive="true"
  previousLabel="Précédent"
  nextLabel="Suivant"
></pagination-controls>

<!-- Modal -->
<div
  class="modal fade bd-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">
          {{ selectedCaregiver?.user?.lastName | uppercase }}
          {{ selectedCaregiver?.user?.firstName | titlecase }}
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="selectedCaregiver && floors">
          <app-detail-caregiver
            (hasDeleteCaregiver)="removeFromList($event)"
            [caregiver]="selectedCaregiver"
            [floors]="floors"
          ></app-detail-caregiver>
        </div>
      </div>
    </div>
  </div>
</div>
