<button
  type="button"
  class="btn btn-outline-info"
  data-toggle="modal"
  data-target=".bd-example-modal-lg"
>
  <strong>Carte de remplacement</strong>
</button>

<!-- MODAL -->
<div
  class="modal fade bd-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div *ngIf="replacement" class="modal-content text-left">
      <div class="modal-header">
        <h4 class="modal-title">
          Carte de remplacement
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div
          *ngFor="let item of card | keyvalue: notOrdered"
          class="form-group"
        >
          <label>
            <h6>
              {{ item?.key }}
            </h6>
          </label>
          <br />
          <h6>
            <span *ngFor="let content of item.value" class="spaced-badge">
              <span class="badge badge-primary">
                {{ content?.name }}
              </span>
            </span>
          </h6>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
