<div class="row">
  <div class="col">
    <div class="btn-group">
      <button
        *ngFor="let n of weeks"
        type="button"
        class="btn btn-primary"
        (click)="selectWeek(n)"
        [class.active]="n == selectedWeek"
      >
        Semaine {{ n }}
      </button>
    </div>
    <button
      *ngIf="weeks.length < 5"
      type="button"
      class="btn btn-sm btn-light"
      (click)="createWeek()"
    >
      <fa-icon [icon]="moreLogo"></fa-icon>
    </button>
    <button
      *ngIf="weeks.length > 1"
      type="button"
      class="btn btn-sm btn-light"
      (click)="deleteWeek()"
    >
      <fa-icon [icon]="revertLogo"></fa-icon>
    </button>
  </div>
  <div *ngIf="allContents?.length > 0 && !loading" class="col text-right">
    <app-replacements-card
      [allContents]="allContents"
      (submitReplacement)="setReplacement($event)"
    ></app-replacements-card>
  </div>
</div>
<br />
<div *ngIf="loading"><app-loader></app-loader></div>
<div *ngIf="allContents?.length > 0 && !loading">
  <div *ngFor="let n of weeks" class="row">
    <div class="col">
      <div class="table-responsive">
        <table [hidden]="selectedWeek !== n" class="table table-bordered">
          <thead>
            <tr class="text-center">
              <th>{{ n }}</th>
              <th *ngFor="let day of days" scope="col">
                {{ day }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let moment of moments">
              <th scope="row" class="moment-day">{{ moment }}</th>
              <td *ngFor="let day of days">
                <app-contents-day-menu
                  [week]="n"
                  [day]="day"
                  [moment]="moment"
                  [allContents]="allContents"
                  (submitMoment)="setMoment($event)"
                ></app-contents-day-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
