<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-role-navbar></app-role-navbar>
    </div>
    <div class="col">
      <h2>Employés de la clinique</h2>
      <br />
      <div *ngIf="loading"><app-loader></app-loader></div>
      <div *ngIf="error">
        <app-alert-error [content]="error"></app-alert-error>
      </div>
      <div class="row">
        <div *ngIf="!error" class="col">
          <h3>Aides-soignants</h3>
          <br />
          <app-list-caregivers
            [caregivers]="caregivers"
            [floors]="floors"
          ></app-list-caregivers>
        </div>
        <div *ngIf="!error" class="col">
          <h3>Diététiciens</h3>
          <br />
          <app-list-nutritionists
            [nutritionists]="nutritionists"
          ></app-list-nutritionists>
        </div>
      </div>
    </div>
  </div>
</div>
