<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-patient-navbar></app-patient-navbar>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <h4>Historique A</h4>
          <br />
          <app-history-patient></app-history-patient>
        </div>
        <div class="col">
          <h4>Historique B</h4>
          <br />
          <app-history-patient></app-history-patient>
        </div>
      </div>
    </div>
  </div>
</div>
