<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <app-patient-navbar></app-patient-navbar>
    </div>
    <div class="col">
      <h2>Anciens patients de la clinique</h2>
      <br />
      <div *ngIf="loading"><app-loader></app-loader></div>
      <div *ngIf="error">
        <app-alert-error [content]="error"></app-alert-error>
      </div>
      <div *ngIf="!loading && !error">
        <div class="row">
          <div class="col">
            <app-list-patients
              (selectedPatient)="setPatient($event)"
              [patients]="patients"
            ></app-list-patients>
          </div>
          <div *ngIf="patient" class="col-4">
            <app-detail-patient [patient]="patient"></app-detail-patient>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
