<div class="form-group">
  <div>
    <button
      type="button"
      data-toggle="modal"
      data-target="#roomSelector"
      class="btn btn-outline-primary"
    >
      Choisir une chambre disponible...
    </button>
    &nbsp;
    <span class="text-muted">
      Aucune chambre selectionnée
    </span>
  </div>
</div>

<div
  class="modal fade"
  id="roomSelector"
  tabindex="-1"
  role="dialog"
  aria-labelledby="roomSelectorLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="roomSelectorLabel">
          Selectionnez une chambre
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--------------------------------------------- TODO : externaliser cela ---------------------------------------------------->
        <div class="form-row">
          <div class="form-group col">
            <input
              class="form-control"
              type="text"
              [(ngModel)]="filter"
              placeholder="Numéro de chambre..."
            />
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Numéro</th>
              <th scope="col">Capacité</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let room of rooms
                  | search: 'number':filter
                  | paginate: pagination;
                let i = index
              "
              (click)="selectRoom(room, i)"
              [class.active]="i == selectedRow"
            >
              <td innerHTML="{{ room.number | highlight: filter }}"></td>
              <td innerHTML="{{ room.maxCapacity }}"></td>
            </tr>
          </tbody>
        </table>
        <pagination-controls
          (pageChange)="pageChanged($event)"
          (pageBoundsCorrection)="pageChanged($event)"
          maxSize="6"
          responsive="true"
          previousLabel="Précédent"
          nextLabel="Suivant"
        ></pagination-controls>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Fermer
        </button>
        <button
          [disabled]="!selectedRow"
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
        >
          Valider
        </button>
      </div>
    </div>
  </div>
</div>
