<div *ngIf="loading"><app-loader></app-loader></div>
<div *ngIf="error">
  <app-alert-error [content]="error"></app-alert-error>
</div>
<div *ngIf="!loading && !error && picture">
  <div class="clickable-img">
    <img
      [src]="picture"
      class="rounded"
      width="200"
      height="200"
      data-toggle="modal"
      data-target=".bd-example-modal-lg"
      title="Modifier la photo du plat"
    />
  </div>
  <!-- Modal -->
  <div
    class="modal fade bd-example-modal-lg"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modifier la photo du plat</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-primary" role="alert">
            <strong>Note : </strong>Les seuls formats autorisés sont le
            <code>.jpg</code>, le <code>.png</code>, <code>.jpeg</code>, le
            <code>.gif</code>, et le <code>.tif</code>.
          </div>
          <div class="row">
            <div *ngIf="searching" class="col">
              Recherche de photos correspondants au plat...
            </div>
          </div>
          <div
            class="row"
            *ngIf="!searching && (!suggestions || suggestions.length === 0)"
          >
            <div class="col">
              <div class="alert alert-primary" role="alert">
                Pas de photo disponible pour ce plat
              </div>
            </div>
          </div>
          <h5 *ngIf="suggestions && suggestions.length > 0">
            <label>Suggestions</label>
          </h5>
          <div class="row" *ngIf="suggestions && suggestions.length > 0">
            <div
              *ngFor="let img of suggestions"
              class="col text-center clickable-img"
            >
              <img [src]="img" class="rounded" width="100" height="100" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <h5>
                <label>Photo actuelle</label>
              </h5>
              <img [src]="picture" class="rounded" width="150" height="150" />
              <br /><br />
              <div class="form-group">
                <input
                  type="file"
                  accept="image/png, image/jpeg"
                  class="form-control-file"
                  (change)="handleFile($event.target.files)"
                />
                <small *ngIf="inputError" class="text-danger">
                  {{ inputError }}
                </small>
              </div>
              <button
                *ngIf="!uploading"
                class="btn btn-primary"
                type="button"
                [disabled]="!file || inputError"
                (click)="onUpload()"
              >
                Enregistrer l'image
              </button>
              <button
                *ngIf="uploading"
                class="btn btn-primary"
                type="button"
                disabled
              >
                <span class="spinner-border spinner-border-sm"></span>Mise à
                jour...
              </button>
            </div>
            <div *ngIf="futurePicture" class="col">
              <h5>
                <label>Nouvelle photo</label>
              </h5>
              <img
                [src]="futurePicture"
                class="rounded"
                width="150"
                height="150"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
